body {
    font-family: arial;
    color: #002E41;
    background-color: #BCC3C5;
}
footer {
    font-family: arial;
	font-size: small;
    color: #002E41;
    background-color: #BCC3C5;
	text-align:center;
	width: 35em;
}
td {
    border:1px ;
    border-radius: 0.3em;
    text-align:left;
    padding: 0.2em 0.2em 0.2em 0.5em;
}

td.total {
	width: 40%;
}
.calculator {
	width: 28em;
}
.header {
    padding: .3em;
    background-color: #949494;
    color: #EEEEEE;
}

.title {
    width: auto;
    float: left;
    padding: .6em;
    border-radius: 0.3em;
    background-color: #017CB1;
    color: #EEEEEE;
}

input[type="number"] { 
    width: 4em; 
}

.calculator {
    border-radius: 0.3em;
    

    padding: 1em;
    clear: right;
    background-color: #BCC3C5;

}

.spacer { 
    height: 0.1em;
}

.params {
    border-radius: 0.3em;
    width: 100%;
    background-color: #66606B;
}

.entryrow {
    background-color: #c8c5cB;

}

.result {
    background-color: #66606B;
    width: 50%;
    float: left;
}

tr.resultrow {
    background-color: #FeF400;
}

tr.total {
    background-color: #BAF77B;
	
}
